.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__block {
    margin-top: 40px;
    text-align: center;

    &__button {
      cursor: pointer;
      width: 278px;
      height: 56px;
      border: solid #fff 0;
      border-radius: 40px;

      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 20px;

      @include on-tablet {
        width: 392px;
      }

      @include on-desktop {
        width: 324px;
      }

      &:hover {
        box-shadow: 1px 4px 16px 0 #e8e8f066;
        transition: $buttonTransition
      }

      &:active {
        box-shadow: 1px 4px 16px 0 #e8e8f0a3;
      }
    }
  }
}

