.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    max-width: 130px;
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      max-width: 187px;
      height: 56px;
    }

    &--menu {
      user-select: none;

      @include on-tablet {
        width: 130px;
        height: 38px;
      }

      @include on-desktop {
        height: 56px;
        width: 187px;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  @include on-tablet {
    gap: 32px;
  }
}
